@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: Arial;
  font-size: 24px;
  pointer-events: none;
}

.game-over {
  font-size: 48px;
  color: red;
  margin-top: 20px;
}
